scripts/newUMLSchema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSPY v5 rel. 3 U (http://www.xmlspy.com) by John R. Herring (private) -->
<!-- edited with XML Spy v4.3 U (http://www.xmlspy.com) by John R. Herring (private) -->
<!--W3C Schema generated by XML Spy v4.0.1 U (http://www.xmlspy.com)-->
<!-- Modified by Steve Huffman to include support for specifications and interfaces -->
<!-- Added visibilty to attributes, methods, and classes -->
<!-- Added abstract to methods -->
<!-- changeable?? - will add to attributes -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<!-- visibility -->
	<xs:element name="visibility" type="xs:string"/>
	<xs:element name="classList" type="classListType"/>
	<xs:element name="default" type="xs:string"/>
	<xs:element name="definedAt" type="xs:string"/>
	<xs:element name="element" type="xs:string"/>
	<xs:element name="isAbstract"/>
	<xs:element name="max" type="unboundedInteger"/>
	<xs:element name="min" type="xs:nonNegativeInteger"/>
	<xs:element name="name" type="xs:string"/>
	<xs:element name="notEmpty"/>
	<xs:element name="representation" type="xs:string"/>
	<xs:element name="type" type="xs:string"/>
	<xs:element name="comment" type="xs:string"/>
	<xs:element name="use">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="NOT NULL"/>
				<xs:enumeration value="PROHIBITED"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="cardinality" type="cardinalityType"/>
	<xs:simpleType name="unboundedInteger">
		<xs:union memberTypes="xs:nonNegativeInteger infinite"/>
	</xs:simpleType>
	<xs:simpleType name="infinite">
		<xs:restriction base="xs:string">
			<xs:enumeration value="*"/>
			<xs:enumeration value=""/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="attributeType">
		<xs:sequence>
			<xs:choice minOccurs="0">
				<xs:element name="refTarget"/>
				<xs:element name="longAttribute"/>
				<xs:element name="longRefTarget"/>
				<xs:element name="repTarget"/>
				<xs:element name="longRepTarget"/>
				<xs:element name="attributeGroup"/>
				<xs:element name="enumeration"/>
				<xs:element name="longEnumeration"/>
			</xs:choice>
			<xs:element name="readonly" minOccurs="0"/>
			<xs:element ref="name"/>
			<xs:element ref="comment" minOccurs="0"/>
			<xs:element ref="type"/>
			<xs:element ref="visibility" minOccurs="0"/>
			<xs:element ref="packageNameSpace" minOccurs="0"/>
			<xs:element ref="default" minOccurs="0"/>
			<xs:element name="static" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="default"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element ref="derived" minOccurs="0"/>
			<xs:element name="cardinality" type="cardinalityType" minOccurs="0"/>
			<!-- visibility -->
			<!-- visibility -->
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="attributeGroupType">
		<xs:sequence/>
	</xs:complexType>
	<xs:complexType name="cardinalityType">
		<xs:sequence>
			<xs:element ref="min" minOccurs="0"/>
			<xs:element ref="max" minOccurs="0"/>
			<xs:element ref="use" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="basicAttributeType">
		<xs:sequence/>
	</xs:complexType>
	<xs:complexType name="classType">
		<xs:sequence>
			<xs:element ref="name"/>
			<xs:element ref="comment" minOccurs="0"/>
			<xs:element ref="visibility" minOccurs="0"/>
			<xs:element name="isAbstract" minOccurs="0"/>
			<xs:element ref="packageNameSpace"/>
			<xs:element name="documentation" type="xs:string" minOccurs="0"/>
			<xs:element ref="superclass" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="specification" minOccurs="0" maxOccurs="unbounded"/>
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="attribute"/>
				<xs:element name="any"/>
				<xs:element name="final"/>
				<xs:element name="method" type="methodType"/>
				<xs:element name="constructor" type="methodType"/>
			</xs:choice>
			<xs:element name="notEmpty" minOccurs="0"/>
			<!-- set minoccurs to 0 - have to change back? -->
			<!-- visibility -->
			<!-- specifications -->
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="repTargetType">
		<xs:complexContent>
			<xs:restriction base="attributeType">
				<xs:sequence>
					<xs:element ref="name"/>
					<xs:element ref="type"/>
					<xs:element ref="representation"/>
					<xs:element ref="default" minOccurs="0"/>
					<xs:element ref="cardinality"/>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="refTargetType">
		<xs:complexContent>
			<xs:restriction base="attributeType">
				<xs:sequence>
					<xs:element ref="name"/>
					<xs:element ref="type"/>
					<xs:element name="reference" type="xs:string"/>
					<xs:element ref="representation" minOccurs="0"/>
					<xs:element ref="default" minOccurs="0"/>
					<xs:element name="cardinality" type="cardinalityType"/>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="packageType">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element ref="packageName"/>
			<xs:element ref="javaprefix"/>
			<xs:element name="class" type="classType"/>
			<xs:element name="interface" type="classType"/>
			<xs:element name="enumeration" type="classType"/>
			<xs:element name="union" type="classType"/>
			<xs:element name="dataType" type="classType"/>
			<xs:element name="codeList" type="classType"/>
			<xs:element ref="measure"/>
			<xs:element ref="package"/>
			<!-- Added for interfaces -->
		</xs:choice>
	</xs:complexType>
	<xs:element name="substitutionGroup" type="xs:string"/>
	<xs:element name="list" type="classType"/>
	<xs:complexType name="methodType">
		<xs:sequence maxOccurs="unbounded">
			<xs:element name="methodName" type="xs:string"/>
			<xs:element ref="comment" minOccurs="0"/>
			<xs:element ref="visibility" minOccurs="0"/>
			<xs:element ref="parameter" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="returnType"/>
			<!-- visibility -->
		</xs:sequence>
	</xs:complexType>
	<xs:element name="derived"/>
	<xs:element name="measure">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="name"/>
				<xs:element ref="type"/>
				<xs:element ref="packageNameSpace" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="packageName" type="xs:string"/>
	<xs:element name="javaprefix" type="xs:string"/>
	<xs:complexType name="classListType">
		<xs:choice maxOccurs="unbounded">
			<xs:element ref="date"/>
			<xs:element ref="package"/>
		</xs:choice>
	</xs:complexType>
	<xs:element name="date" type="xs:string"/>
	<xs:element name="package" type="packageType"/>
	<xs:element name="packageNameSpace" type="xs:string"/>
	<xs:complexType name="superclassType">
		<xs:sequence>
			<xs:element ref="name"/>
			<xs:element ref="packageNameSpace" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<!-- SpecificationType -->
	<xs:complexType name="specificationType">
		<xs:sequence>
			<xs:element ref="name"/>
			<xs:element ref="packageNameSpace" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<!-- specification -->
	<xs:element name="specification" type="specificationType"/>
	<xs:element name="superclass" type="superclassType"/>
	<xs:element name="attribute" type="attributeType"/>
	<xs:element name="parameter" type="parameterType"/>
	<xs:complexType name="parameterType">
		<xs:sequence>
			<xs:element name="parameterName" type="xs:string"/>
			<xs:element name="parameterType" type="xs:string"/>
			<xs:element ref="packageNameSpace" minOccurs="0"/>
			<xs:element name="isArray" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="returnType" type="returnTypeType"/>
	<xs:complexType name="returnTypeType">
		<xs:sequence>
			<xs:element ref="type"/>
			<xs:element ref="packageNameSpace" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
